body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #cecccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #0ea400;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #0ea400;
}

header small {
    display: block;
    font-size: 15px;
    margin-top: 5px;
    font-weight: normal;
}

nav {
    background: #dfebe0;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: left;
    gap: 40px;
    border-radius: 6px;
}

nav a {
    color: #1aa513;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.container {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    min-width: 300px;
    margin: 0 10px 25px 10px;
}

.placeholder-box {
    width: 100%;
    background: #e0e0e0;
    height: 280px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

pre {
    background: #0a261b;
    color: #d1ffe5;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

button {
    background: #0ea400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.code-box {
    background: #062118;
    color: #d1ffe5;
    padding: 15px;
    border-radius: 8px;
    font-family: "Consolas", monospace;
    overflow-x: auto;
    margin-top: 10px;
}

.code-compare {
    background: #0a261b;  
    color: #d1ffe5;
    padding: 20px;
    border-radius: 8px;
    font-family: "Consolas", monospace;
    margin-top: 10px;
    line-height: 1.6em;
}


footer {
    background: #0ea400;
    color: white;
    text-align: center;
    padding: 50px 0;
    justify-content:end;
    margin-top:50px;
    width: 100%;
    font-size: 20px;
    border: 0;
    bottom:0;
    left:0;
}


@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    nav a {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    header {
        font-size: 22px;
        padding: 15px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
        padding: 15px 5px;
    }

    nav a {
        font-size: 15px;
    }

    .container {
        width: 100%;
        padding: 5px;
    }

    .col {
        padding: 15px;
    }

    iframe {
        width: 100% !important;
        height: 220px !important;
    }

    footer {
        padding: 30px;
        font-size: 14px;
    }
}